<h1>Importar Produtos</h1>

<form action="/produtos/store" method="post">
    <div class="my-3 col-md-4">
    <input type="file" name="planilha" id="planilha" class="form-control">
    </div>
    <input type="submit" value="Enviar" class="btn btn-primary">
</form>